* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

header {
  background-color: #014E56;
  padding: 70px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.nav_burger {
  display: none;
  background-color: transparent;
  border: none;
}

.nav__item {
  margin-left: 40px;
}
.nav__item a {
  color: white;
  text-decoration: none;
}

.nav__item:nth-child(2) {
  display: flex;
  flex-grow: 1;
}

.nav__item:last-child {
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 9px 30px;
}

@media (max-width: 500px) {
  .nav__list {
    display: none;
  }
  .nav_burger {
    display: block;
  }
  .nav {
    padding: 0 15px;
  }
}
#hero {
  background-color: #014E56;
  padding-top: 130px;
  padding-bottom: 250px;
  background-image: url("../../img/bg_left.png"), url("../../img/bg_bottom.png");
  background-repeat: no-repeat;
  background-position: left center, bottom right 165px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
}
.hero__title span {
  color: #F67E7E;
}

.hero__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  max-width: 445px;
}

@media (max-width: 950px) {
  #hero {
    background-image: url("../../img/bg_bottom.png");
    background-position: bottom center;
  }
  .hero__inner {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 5200px) {
  .hero__title {
    font-size: 60px;
  }
}
.users {
  background-image: url("../../img/usersleft.png"), url("../../img/usersright.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding-top: 140px;
  background-color: #004047;
  padding-bottom: 151px;
}

.users__title {
  margin: 0 auto;
  max-width: 932px;
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}
.users__title span {
  color: #79C8C7;
}

.users__list {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.users__item {
  margin-top: 20px;
  max-width: 350px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users__item p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}
.users__item p::before {
  content: "";
  width: 67px;
  height: 56px;
  background-image: url("../../img/befor.png");
  display: block;
  margin: 0 auto;
  margin-bottom: -20px;
}
.users__item b {
  margin-top: 24px;
  color: #79C8C7;
  font-style: 18px;
  line-height: 28px;
}
.users__item i {
  font-style: 13px;
  line-height: 18px;
}
.users__item img {
  margin-top: 32px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1070px) {
  .users__list {
    justify-content: space-around;
  }
}
@media (max-width: 650px) {
  .users__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }
  .users {
    padding-bottom: 100px;
  }
}
@media (max-width: 400px) {
  .users {
    padding-bottom: 160px;
  }
}/*# sourceMappingURL=main.css.map */